spring.datasource.driver-class-name=org.postgresql.Driver
spring.datasource.username=postgres
spring.datasource.password=password
spring.datasource.url=jdbc:postgresql://localhost:5432/db
spring.datasource.hikari.maximum-pool-size=20

spring.jpa.hibernate.ddl-auto=update
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.show-sql=true
spring.jpa.defer-datasource-initialization=true
spring.main.allow-circular-references=true

server.port=80

spring.freemarker.template-loader-path=/WEB-INF/
spring.freemarker.prefix=ftlh/
spring.mvc.static-path-pattern=/static/**

storage.path=storage_path

oauth2.vk.v=5.131
oauth2.vk.client.id=client_id
oauth2.vk.client.secret=secret
oauth2.vk.redirect-url=http://localhost:80/auth/vk

oauth2.vk.api.user.url=https://api.vk.com/method/users.get
oauth2.vk.api.token.url=https://oauth.vk.com/access_token
oauth2.vk.api.authorize.url=https://oauth.vk.com/authorize
