spring.datasource.driver-class-name=org.postgresql.Driver
spring.datasource.username=postgres
spring.datasource.password=password
spring.datasource.url=jdbc:postgresql://localhost:5432/db
spring.datasource.hikari.maximum-pool-size=20

spring.jpa.hibernate.ddl-auto=update
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.show-sql=true
spring.jpa.defer-datasource-initialization=true
spring.main.allow-circular-references=true

server.port=80

spring.freemarker.template-loader-path=/WEB-INF/
spring.freemarker.prefix=ftlh/
spring.mvc.static-path-pattern=/static/**

storage.path=storage_path
